In [2]:
import numpy as np
import pandas as pd
from pandas import Series

In [3]:
marks = [5, 5, 6, 2, 3, 9, 8, 5]
s1 = Series(marks)

In [4]:
s1

0    5
1    5
2    6
3    2
4    3
5    9
6    8
7    5
dtype: int64

In [8]:
v = s1.values
print(type(v))
for i in s1.index:
    print(i)

<class 'numpy.ndarray'>
0
1
2
3
4
5
6
7

In [18]:
roll = [10, 5, 11, 12, 15, 16, 19, 6]
s2 = Series(marks, index=roll)
s2.name = 'Marks obtained'
s2.index.name = 'Roll'

In [19]:
s2

Roll
10    5
5     5
11    6
12    2
15    3
16    9
19    8
6     5
Name: Marks obtained, dtype: int64

In [21]:
roll_marks = {10: 5, 13: 6, 7: 3}
s3 = Series(roll_marks)

In [22]:
s3

10    5
13    6
7     3
dtype: int64

Indexing

In [23]:
s2

Roll
10    5
5     5
11    6
12    2
15    3
16    9
19    8
6     5
Name: Marks obtained, dtype: int64

In [28]:
# indexing by key
print(s2.loc[11])
print(s2.loc[6])

# indexing by 0 based internal index
print(s2.iloc[0])
print(s2.iloc[-2])

6
5
5
8

Slicing

In [31]:
# slicing by 0 based internal index
print(s2[-3:])
print(s2[:4])

# slicing by your own index (roll)
print(s2[10:11]) # does not work

Roll
16    9
19    8
6     5
Name: Marks obtained, dtype: int64
Roll
10    5
5     5
11    6
12    2
Name: Marks obtained, dtype: int64
Series([], Name: Marks obtained, dtype: int64)

In [37]:
print(s2)
print(s2.mean())
print(s2.min())
print(s2.max())
print(s2.std())

Roll
10    5
5     5
11    6
12    2
15    3
16    9
19    8
6     5
Name: Marks obtained, dtype: int64
5.375
2
9
2.326094212561969

In [40]:
print(s2)
print(s2.value_counts())

Roll
10    5
5     5
11    6
12    2
15    3
16    9
19    8
6     5
Name: Marks obtained, dtype: int64
5    3
6    1
3    1
2    1
9    1
8    1
Name: Marks obtained, dtype: int64

In [42]:
print(s2)
print(s2.sort_index())

Roll
10    5
5     5
11    6
12    2
15    3
16    9
19    8
6     5
Name: Marks obtained, dtype: int64
Roll
5     5
6     5
10    5
11    6
12    2
15    3
16    9
19    8
Name: Marks obtained, dtype: int64

In [46]:
print(s2)
print(s2.sort_values(ascending=False)[:3])

Roll
10    5
5     5
11    6
12    2
15    3
16    9
19    8
6     5
Name: Marks obtained, dtype: int64
Roll
16    9
19    8
11    6
Name: Marks obtained, dtype: int64

In [47]:
temp = [23, 24, 23, 25, 26, 27, 25]
year = [1900, 1900, 1900, 1901, 1902, 1901, 1902]
tempseries = Series(temp, index=year)

In [48]:
tempseries

1900    23
1900    24
1900    23
1901    25
1902    26
1901    27
1902    25
dtype: int64

In [54]:
print(tempseries.max())
print(tempseries.groupby(level=0).max())

27
1900    24
1901    27
1902    26
dtype: int64

Filtering

In [57]:
print(s2)
print(s2[s2 > 5])

Roll
10    5
5     5
11    6
12    2
15    3
16    9
19    8
6     5
Name: Marks obtained, dtype: int64
Roll
11    6
16    9
19    8
Name: Marks obtained, dtype: int64

In [59]:
print(tempseries)
print(tempseries.groupby(level=0).count())

1900    23
1900    24
1900    23
1901    25
1902    26
1901    27
1902    25
dtype: int64
1900    3
1901    2
1902    2
dtype: int64

In [60]:
s2.describe()

count    8.000000
mean     5.375000
std      2.326094
min      2.000000
25%      4.500000
50%      5.000000
75%      6.500000
max      9.000000
Name: Marks obtained, dtype: float64